<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MvcElmahDashboardConnectionName" value="ODSLIVE" />
    <add key="MvcElmahDashboardCulture" value="" />
    <add key="MvcElmahDashboardLogCount" value="4" />
    <add key="MvcElmahDashboardHeartBeatUrl" value="http://localhost:63142/" />
    <add key="MvcElmahDashboardHeartBeatInterval" value="00:00:10" />
    <!--<add key="MvcElmahDashboardHeartBeatDirectFromBrowser" value="true" />-->
    <add key="MvcElmahDashboardUserAgentInfoProvider" value="Caption=User Agent String.Com;InfoUrl=http://www.useragentstring.com/;ServiceUrl=http://www.useragentstring.com/?uas={value}&amp;getJSON=all" />
    <!--<add key="MvcElmahDashboardRemoteAddressInfoProvider" value="Caption=FreeGeoIP.net;InfoUrl=http://freegeoip.net/;ServiceUrl=https://freegeoip.net/json/{value};Latitude=latitude;Longitude=longitude" />-->
    <add key="MvcElmahDashboardRemoteAddressInfoProvider" value="Caption=Geobytes.com;InfoUrl=http://www.geobytes.com/iplocator/;ServiceUrl=http://getcitydetails.geobytes.com/GetCityDetails?fqcn={value};Latitude=geobyteslatitude;Longitude=geobyteslongitude" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-HostingWebMVCApp-20150529045613.mdf;Initial Catalog=aspnet-HostingWebMVCApp-20150529045613;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ElmahDev" connectionString="Data Source=ntssqldev2008;Initial Catalog=ElmahDev;Persist Security Info=True;User ID=esv;Password=esvesv" providerName="System.Data.SqlClient" />
    <add name="ElmahQa1" connectionString="Data Source=DSRV978;Initial Catalog=Elmah;Persist Security Info=True;User ID=esv;Password=esvesv;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ODSLIVE" connectionString="Data Source=blush.mysitehosted.com;Initial Catalog=ODSLIVE;Persist Security Info=True;User ID=odslive-webaccess;Password=PG3Dw4p3zgtSWGhWkAU3;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
